/abb.parquet
/bhp_billiton.parquet
/brambles.parquet
/dexia.parquet
/fortis.parquet
/merita_nordbanken.parquet
/rd_shell.parquet
/reed_elsevier.parquet
/rio_tinto.parquet
/smithkline.parquet
/unilever.parquet
/zurich_allied.parquet
