/abb.parquet
/bhp_billiton.parquet
/brambles.parquet
/dexia.parquet
/fortis.parquet
/merita_nordbanken.parquet
/rd_shell.parquet
/reed_elsevier.parquet
/rio_tinto.parquet
/smithkline.parquet
/unilever.parquet
/zurich_allied.parquet
/abb.regression.parquet
/bhp_billiton.regression.parquet
/brambles.regression.parquet
/dexia.regression.parquet
/fortis.regression.parquet
/merita_nordbanken.regression.parquet
/rd_shell.regression.parquet
/reed_elsevier.regression.parquet
/rio_tinto.regression.parquet
/smithkline.regression.parquet
/unilever.regression.parquet
/zurich_allied.regression.parquet
/abb.trading.parquet
/bhp_billiton.trading.parquet
/brambles.trading.parquet
/dexia.trading.parquet
/fortis.trading.parquet
/merita_nordbanken.trading.parquet
/rd_shell.trading.parquet
/reed_elsevier.trading.parquet
/rio_tinto.trading.parquet
/smithkline.trading.parquet
/unilever.trading.parquet
/zurich_allied.trading.parquet
